@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Senha restaurada com sucesso!";
}

<h1>@ViewData["Title"]</h1>
<p>
   Sua senha foi restaurada. Por favor <a asp-page="./Login">clique aqui e faça login</a>.
</p>
